





html {
    background: grey;
    text-align: center; /* by default, text should be 'scaled' and 'centered' */
    font-family: arial;
    }

/*                      not working
#submit {
       background-color: #ccc;
    background-image: url(journal.jpg)
    
}
*/

#buttonBold {
       font-weight:bold
}

/* not working
.button:hover #submit.top {
       border: solid #78ceff 2px;
}
*/

#buttonItalic {
       font-style:italic
}

#buttonUnderline {
       text-decoration:underline
}

div1  /* div1 is for the main title/logo that is on every page */
{
/*       font-style:italic;*/
}

div2 /* div2 is for the rest of the content on the page, as seperated from the background */
{
        text-align: center; /* by default, text should be 'scaled' and 'centered' */
/*        font-style:italic;*/
}





/* credit to http://css3buttongenerator.com/ */
#mainButton {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #757575);
  background-image: -moz-linear-gradient(top, #000000, #757575);
  background-image: -ms-linear-gradient(top, #000000, #757575);
  background-image: -o-linear-gradient(top, #000000, #757575);
  background-image: linear-gradient(to bottom, #000000, #757575);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 0px 30px #ff0000;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

#mainButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#mainButtonSelected { /* same as mainButton:hover */
background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 0px 30px #ff0000;
  font-family: Arial;
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}


/*
#googleDiv { //working!
    align-content: center;
    background: green;
    
}
*/

#titleDiv {
    /* credit to GenerateCSS.com */
        text-decoration:none;
        font-size: 30px;
        font-family: Georgia;
        color: black;
        text-shadow: 5px 5px 0px white, 7px 7px    
}

#loginBox
{
    font-size: 24px;
    font-style: italic;
    color: lightblue; /* changed to blue when login occurs */
    background: white;
}



#randomBox
{
        background: white;
        font-style: italic;
}


/* ––––––––––giving all the small buttons the same style as the large buttons */
#testContent1, #submit, #randomButton
{
    background: black;
    color:white;
    border: solid #000000 2px;
    border-radius: 60px;
}


#testContent1:hover, #submit:hover, #randomButton:hover
{
    background: #3cb0fd;
    border: solid #000000 2px;
    border-radius: 60px;
}



/*
#submit:hover
{
    color: #ffffff;
    background: #3cb0fd;
    border: solid #000000 2px;
    border-radius: 60px;
}
*/


